

.container {
  width: 70%;
  margin: auto;
}

.product {
  display: flex;
  margin-top: 40px;
  padding-bottom: 80px;
}

.product__preview{
  position: relative;
  flex: 2;
  /* border: 1px solid grey; */
  border-radius: 5px;
  height: 500px;
}

.product__image {
  width: 100%;
}

.product__neontext{
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Neonscript;
  font-variant-ligatures: no-common-ligatures;
  font-size: 62px;
  white-space: nowrap;
  line-height: 100%;
  color: white;

}
.product__neontext.purple{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-purple) 0px 0px 20px,
      var(--color-purple) 0px 0px 30px,
      var(--color-purple) 0px 0px 40px,
      var(--color-purple) 0px 0px 55px,
      var(--color-purple) 0px 0px 75px;
}
.product__neontext.orange{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-orange) 0px 0px 20px,
      var(--color-orange) 0px 0px 30px,
      var(--color-orange) 0px 0px 40px,
      var(--color-orange) 0px 0px 55px,
      var(--color-orange) 0px 0px 75px;
}
.product__neontext.yellow{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-yellow) 0px 0px 20px,
      var(--color-yellow) 0px 0px 30px,
      var(--color-yellow) 0px 0px 40px,
      var(--color-yellow) 0px 0px 55px,
      var(--color-yellow) 0px 0px 75px;
}
.product__neontext.red{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-red) 0px 0px 20px,
      var(--color-red) 0px 0px 30px,
      var(--color-red) 0px 0px 40px,
      var(--color-red) 0px 0px 55px,
      var(--color-red) 0px 0px 75px;
}
.product__neontext.green{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-green) 0px 0px 20px,
      var(--color-green) 0px 0px 30px,
      var(--color-green) 0px 0px 40px,
      var(--color-green) 0px 0px 55px,
      var(--color-green) 0px 0px 75px;
}
.product__neontext.blue{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-blue) 0px 0px 20px,
      var(--color-blue) 0px 0px 30px,
      var(--color-blue) 0px 0px 40px,
      var(--color-blue) 0px 0px 55px,
      var(--color-blue) 0px 0px 75px;
}
.product__neontext.skyblue{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-skyblue) 0px 0px 20px,
      var(--color-skyblue) 0px 0px 30px,
      var(--color-skyblue) 0px 0px 40px,
      var(--color-skyblue) 0px 0px 55px,
      var(--color-skyblue) 0px 0px 75px;
}
.product__neontext.lemonyellow{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-lemonyellow) 0px 0px 20px,
      var(--color-lemonyellow) 0px 0px 30px,
      var(--color-lemonyellow) 0px 0px 40px,
      var(--color-lemonyellow) 0px 0px 55px,
      var(--color-lemonyellow) 0px 0px 75px;
}
.product__neontext.goldenyellow{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-goldenyellow) 0px 0px 20px,
      var(--color-goldenyellow) 0px 0px 30px,
      var(--color-goldenyellow) 0px 0px 40px,
      var(--color-goldenyellow) 0px 0px 55px,
      var(--color-goldenyellow) 0px 0px 75px;
}
.product__neontext.pink{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-pink) 0px 0px 20px,
      var(--color-pink) 0px 0px 30px,
      var(--color-pink) 0px 0px 40px,
      var(--color-pink) 0px 0px 55px,
      var(--color-pink) 0px 0px 75px;
}
.product__neontext.white{
  text-shadow: rgb(255, 255, 255) 0px 0px 5px,
      rgb(255, 255, 255) 0px 0px 10px,
      var(--color-white) 0px 0px 20px,
      var(--color-white) 0px 0px 30px,
      var(--color-white) 0px 0px 40px,
      var(--color-white) 0px 0px 55px,
      var(--color-white) 0px 0px 75px;
}
.product__info{
  flex: 1;
  margin-left: 120px;
  padding-bottom: 30px;
  height: 90vh;
  overflow-y: auto;
  padding-right: 20px;
}

.product__info::-webkit-scrollbar {
  width: 0.5em;
  /* Set the width of the scrollbar */
}

.product__info::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Set the background color of the scrollbar track */
}

.product__info::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Set the color of the scrollbar thumb */
  border-radius: 5px;
  /* Add rounded corners to the scrollbar thumb */
}

.product__info::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Set the color of the scrollbar thumb on hover */
}

.product__title {
  font-size: 2rem;
}

textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
  /* Set resize to none */
}

.product__backgrounds{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}

.product__bg{
  cursor: pointer;
  border: 3px solid #ddd;
  border-radius: 8px;
}

.product__bg.active{
  border: 3px solid black;
}
.product__bgimage {
  border-radius: 5px;
}

.product__fonts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product__font{
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 8px 10px;
}
.product__font p {
  font-size: 20px;
}

.product__font.active {
  background-color: #f0f0f0;
}

.product__font:hover {
  background-color: #f0f0f0;
}

.product__colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product__color{
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
}

.product__colors .orange{
  background-color:  var(--color-orange);
}
.product__colors .white {
  background-color:  var(--color-white);
}
.product__colors .yellow {
  background-color:  var(--color-yellow);
}
.product__colors .red {
  background-color:  var(--color-red);
}
.product__colors .blue {
  background-color:  var(--color-blue);
}
.product__colors .green {
  background-color:  var(--color-green);
}
.product__colors .purple {
  background-color:  var(--color-purple);
}
.product__colors .lemonyellow {
  background-color:  var(--color-lemonyellow);
}
.product__colors .pink {
  background-color:  var(--color-pink);
}
.product__colors .skyblue {
  background-color:  var(--color-skyblue);
}
.product__colors .goldenyellow {
  background-color:  var(--color-goldenyellow);
}

.product__color.active {
  border: 2px solid black;
}

.product__color:hover {
  border: 2px solid black;
}

/* Sized */
.product__sizes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.product__size{
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 8px 10px;
}
.product__size p {
  font-size: 16px;
}

.product__size.active {
  background-color: #f0f0f0;
}

.product__size:hover {
  background-color: #f0f0f0;
}

.product__textarea__label, .product__previewbg__label,
.product__font__label, .product__color__label, .product__size__label{
  color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  margin: 20px 0 10px 0;
}



.my-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: #333;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.my-button:hover {
  background-color: #333;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.whatsapp-button {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #25D366;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

/* Default styles */

/* Styles for small screens */
@media (max-width: 767px) {
  /* Responsive styles for small screens */
  .container {
    width: 90%;
    /* background-color: red; */
  }
  .product {
    flex-direction: column;
    gap: 20px;
  }
  .product__info{
    margin-left: auto;
    height: auto;
  }
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  /* Responsive styles for medium screens */
  .container {
    width: 80%;
    /* background-color: green; */
  }
  .product {
    flex-direction: column;
    gap: 20px;
  }
  .product__info{
    margin-left: auto;
    height: auto;
  }
}

/* Styles for large screens */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Responsive styles for large screens */
  .container {
    width: 90%;
    /* background-color: blue; */
  } 
  .product__preview{
    flex: 1;
  }
  .product__info{
    margin-left: 60px;
    height: 70vh;
  }
}


